@import "../../../assets/variables.scss";
@import "../../../assets/mixins.scss";

.NewsFeedSettings {
    &__fieldset {
        display: flex;
        gap: 20px;

        @include fieldset;
    }

    &__legend {
        font-size: 18px;
    }

    @include input-block;
}